.UserItem {
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 1px 1px #ccc;
    width: 40%;
    font-size: large;
    text-align: left;
    border-radius: 20px;
}

.UserItem img {
    width: 200px;
    height: 200px;
    border-radius: 20px 0px 0px 20px;
}

.UserItem .Col {
    height: 100%;
}

.UserItem select {
    border-radius: 10px;
    margin: 5px;
}

@media( max-width: 766px) {
    .UserItem img {
        border-radius: 20px;
    }
}