.UserItem {
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 1px 1px #ccc;
    width: 40%;
    font-size: large;
    text-align: left;
    border-radius: 20px;
    background-color: aliceblue;
}

.UserItem img {
    border-radius: 20px;
}

.UserItem .Col {
    height: 100%;
}

@media( max-width: 1100px) {
    .UserItem {
        width: 80%;
    }
}