.UserBlock {
    padding: 20px;
    width: 90%;
    border-radius: 20px;
    margin: 20px auto;
    box-shadow: 1px 1px 2px 2px #ccc;
    background-color: aliceblue;
}

.UserBlock img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
}